<%= form_with url: brand_cars_path(@brand) do |form| %>

  <h1><%= title %></h1>

  <!-- errors! -->

  <ul>
    <% @car.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>

  <%# fields! %>

  <%= form.fields_for @brand do |brand_form| %>

    <%= brand_form.label :name, "Brand Name" %>
    <%= brand_form.text_field :name %>

  <% end %>

  <%= form.fields_for @car do |car_form| %>

    <%= car_form.collection_select(:brand_id, Brand.all, :id, :name) %>
    <br>

    <%= car_form.label :model %>
    <%= car_form.text_field :model %>
    <br>

    <%= car_form.label :year %>
    <%= car_form.text_field :year %>
    <br>

  <% end %>

  <%= form.submit %>

<% end %>
